[user]
	email = hpottinger@library.ucla.edu
	name = Hardy Pottinger
[pull]
    rebase = true
[core]
    autocrlf = input
	excludesFile = ~/.gitignore_global
	abbrev = 9
	editor = vim
	trustctime = false
	quotepath = off
[alias]
	a = add
	b = branch
	c = commit --verbose
	co = checkout
	d = diff
	dn = diff --name-only
	ds = diff --staged
	du = count-objects --verbose --human-readable
	f = fetch
	h = help
	hc = help config
	l = log
	lol = log --graph --pretty=oneline
 	lolz = log --pretty=format:'%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset' --graph
	m = merge
	n = !git ls-files | xargs notes
	nuke = !git clean -fdx && git submodule foreach git clean -fdx
	p = pull
	ps = push
	pr = pull-request
	r = reset
	rb = rebase
	redo = commit --amend --no-edit
	s = status --short --branch
	sh = show
	st = stash
	stat = status
	sub = submodule
	y = cherry-pick
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[am]
	threeWay = true
[apply]
	ignoreWhitespace = change
[color]
	ui = auto
[diff]
	tool = meld
	mnemonicPrefix = true
[format]
	pretty = medium
[help]
	autoCorrect = -1
[log]
	abbrevCommit = true
	decorate = short
[merge]
	keepbackups = false
	tool = meld
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	trustExitCode = true
    keepBackup = false
[mergetool "diffconflicts"]
	cmd = vim -c DiffConflicts "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
	trustExitCode = true
	keepBackup = false
[http]
    sslVerify = false
[push]
	default = current
[rebase]
	stat = true
	autoSquash = true
	autoStash = true
[rerere]
	enabled = true
	autoUpdate = true
[include]
	path = ~/.gitconfig_local
[init]
	templatedir = ~/.git_template
[mergetool]
	trustExitCode = true
[gui]
	encoding = utf-8
